<div class="container-fluid header">
  <div class="row ">
      <div class="col-md-3"></div>
       <div class="userInfo col-md-4 ">
    Welcome {{currentUser.name}}
</div>
<div class="logout-div col-md-2">
    <button type="button" class="logout-button" (click)="LogOut()">LogOut</button>
</div>
<div class="col-md-3"></div>
  </div>
</div>


<div class="new-post">
    <div class="new-post-title">
        <input type="text" class="form-control" [(ngModel)]="NewTitle"  [style.border-color]='TitleBorderStyle' placeholder="Title">
    </div>
    <div class="new-post-body">
        <textarea class="form-control post-text" [(ngModel)]="NewBody" [style.border-color]='BodyBorderStyle' autofocus placeholder="What's on your mind?"></textarea>
    </div>
    <div class="comment-buttom">
        <button type="button" class="button" (click)="AddNewPost()">Add New Post</button>
    </div>
</div>

<div *ngFor="let item of UserPosts">
    <app-post [post]='item'>
    </app-post>
</div>