.userInfo{
    position: relative;
    font-family: "Roboto", sans-serif;
      margin-top: 5px;
    margin-bottom: 80px;
    margin-left: auto;
    margin-right: auto;
    font-size: xx-large;
    top: 10px;
     max-width:25%;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    height: 40px;
    text-align: center;
    z-index: 1;
    background: #FFFFFF;
}
.new-post{
   position: relative;
    margin-left: auto;
    margin-right: auto;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
      width: 50%;
}
.post-text
{
  width: 100%;
  height: 100%;
  font-size: large;
}
textarea {
   resize: none;
}

.button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.comment-buttom{
    position: relative;
    margin-left: auto;
    margin-right: auto;
     padding: 10px;
     max-width:10%;
}
