.userInfo{
    position: relative;
    font-family: "Roboto", sans-serif;
    margin: 0px auto;
    font-size: xx-large;
    top: 10px;
     max-width:25%;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    height: 40px;
    text-align: center;
    z-index: 1;
    background: #FFFFFF;
}