@import url(https://fonts.googleapis.com/css?family=Roboto:300);
body {
  background: #76b852; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #76b852, #8DC26F);
  background: -moz-linear-gradient(right, #76b852, #8DC26F);
  background: -o-linear-gradient(right, #76b852, #8DC26F);
  background: linear-gradient(to left, #76b852, #8DC26F);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}
.loading-img{
    position: fixed;
    top:0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    background-color: #fff;
    vertical-align: middle;
    text-align: center;
    padding-top:200px;
}