<div class="titleInfo">
    {{ post.title}}
</div>
<div class="bodyInfo">
    {{ post.body}}
</div>
<div class="comment-buttom" *ngIf="ShowCommentBtnVisibility">
    <button type="button" class="button" (click)="ShowComments()">Show Comments</button>
</div>
<div *ngIf="CommentsVisibility" class="commnets">
   
    <div *ngFor="let item of Comments">
        <app-comment [comment]='item'></app-comment>
        <hr>
    </div>
</div>
 <div *ngIf="NoCommentsVisibility" class="no-commnets">
        No Comments Availabile
    </div>